$cl-cream: #EDECE3;
$cl-black: #11151C;
$cl-light: #FCF9F7;
$cl-orange: #D65237;

html {
  body {
    #root {
      .Results {
        background-color: transparent;
        border: 1px solid;
        border-color: $cl-orange;
        border-radius: 3px;
        box-shadow: 0 4px 2px 2px $cl-light;
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 1rem;
        overflow-y: auto;
        margin-right: 24px;
        overflow: hidden;
        flex: 1;

        h2 {
          margin-top: 0;
          border-bottom: 1px solid $cl-orange;
          padding-bottom: 16px;
          margin-bottom: 0;
          font-size: 1.55rem;
          text-align: center;
        }

        &__trackList {
          width: 100%;
          overflow: auto;
        }
      }
    }
  }
}

html {
  body {
    #root {
      @media only screen and (max-width: 1020px) {
        .Results {
          width: 90%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
