$cl-cream: #EDECE3;
$cl-black: #11151C;
$cl-light: #FCF9F7;
$cl-orange: #D65237;

html {
  body {
    #root {
      .Results {
        background-color: transparent;
        border: 1px solid;
        border-color: $cl-orange;
        border-radius: 54px;
        box-shadow: 0 4px 2px 2px $cl-light;
        display: flex;
        flex-direction: column;
        height: 950px;
        padding: .88rem;
        overflow-y: auto;
        overflow: hidden;
        width: 50%;

        h2 {

        }

        &__trackList {
          width: 100%;
          overflow: auto;
        }
      }
    }
  }
}

html {
  body {
    #root {
      @media only screen and (max-width: 1020px) {
        .Results {
          width: 90%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
