html body #root .Results {
  background-color: transparent;
  border: 1px solid;
  border-color: #D65237;
  border-radius: 54px;
  box-shadow: 0 4px 2px 2px #FCF9F7;
  display: flex;
  flex-direction: column;
  height: 950px;
  padding: .88rem;
  overflow-y: auto;
  overflow: hidden;
  width: 50%; }
  html body #root .Results__trackList {
    width: 100%;
    overflow: auto; }

@media only screen and (max-width: 1020px) {
  html body #root .Results {
    width: 90%;
    margin-bottom: 2rem; } }
