html body #root .Track {
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #D65237;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: background-color .25s; }
  html body #root .Track:hover {
    background-color: #D65237; }
  html body #root .Track__information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px; }
    html body #root .Track__information h3 {
      margin-top: 0;
      margin-bottom: .22rem; }
    html body #root .Track__information p {
      font-size: .83rem;
      font-weight: 300;
      color: #090D0F;
      margin: 0; }
  html body #root .Track__action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s; }
    html body #root .Track__action:hover {
      background-color: #D65237; }
