$cl-cream: #EDECE3;
$cl-black: #11151C;
$cl-light: #FCF9F7;
$cl-orange: #D65237;

html {
  body {
    #root {
      .Track {
        align-items: center;
        background-color: transparent;
        border-bottom: 1px solid $cl-orange;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        transition: background-color .25s;

          &:hover {
            background-color: $cl-orange;
          }

        &__information {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 72px;

          h3 {
            margin-top: 0;
            margin-bottom: .22rem;
          }

          p {
            font-size: .83rem;
            font-weight: 300;
            color: #090D0F;
            margin: 0;
          }
        }

        &__action {
          cursor: pointer;
          padding: .5rem;
          font-size: 1.05rem;
          transition: color .25s;

          &:hover {
            background-color: $cl-orange;
          }
        }
      }
    }
  }
}
