html body #root .NewPlaylist {
  align-items: center;
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; }
  html body #root .NewPlaylist--hidden {
    display: none; }
  html body #root .NewPlaylist input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #D65237;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #11151C;
    padding-bottom: 15px;
    text-align: center;
    width: 100%; }
    html body #root .NewPlaylist input:focus {
      outline: none; }
  html body #root .NewPlaylist__trackList {
    width: 100%;
    overflow-y: auto; }
  html body #root .NewPlaylist__save {
    background-color: transparent;
    border: 1px solid #D65237;
    border-radius: 54px;
    cursor: pointer;
    font-size: .83rem;
    margin-top: 1.27rem;
    padding: .77rem 0;
    text-align: center;
    transition: background-color .25s;
    width: 10rem; }
    html body #root .NewPlaylist__save:hover {
      background-color: #D65237; }

@media only screen and (max-width: 1020px) {
  html body #root .NewPlaylist {
    width: 90%; } }
