$cl-cream: #EDECE3;
$cl-black: #11151C;
$cl-light: #FCF9F7;
$cl-orange: #D65237;

html {
  body {
    #root {
      .SearchBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.94rem;
        margin-bottom: 2.33rem;

        input {
          width: 287px;
          padding: .88rem 0;
          background-color: transparent;
          border: 1px solid $cl-orange;
          border-radius: 3px;
          margin-bottom: 2.22rem;
          color: $cl-black;
          text-align: center;
          font-size: 1rem;

          &:focus {
            outline: none;
          }
        }

        a {
          cursor: pointer;
          width: 8.11rem;
          padding: .77rem 0;
          border-radius: 54px;
          border: 1px solid $cl-orange;
          background-color: transparent;
          text-align: center;
          font-size: .833rem;
          transition: background-color .25s;

          &:hover {
            background-color: $cl-orange;
          }
        }
      }
    }
  }
}
