$cl-cream: #EDECE3;
$cl-black: #11151C;
$cl-light: #FCF9F7;
$cl-orange: #D65237;

html {
  font-size: 18px;
  box-sizing: border-box;
  background-color: #FCF9F7;

  * {
    box-sizing: border-box;
  }


  body {
    #root {
      height: 100%;

      .Main {
        display: flex;
        flex-direction: column;

        h1 {
          background-color: transparent;
          color: #A22C29;
          display: flex;
          font-family: 'Poppins', sans-serif;
          font-size: 1.88rem;
          margin: 0;
          justify-content: center;

          .highlight {
            color: #902923;
          }
        }

        h2 {
          font-family: 'Poppins', sans-serif;
          font-size: 1.55rem;
        }

        .App {
          height: 100%;
          padding: 0 17% 10% 17%;
          background-color: $cl-light;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          font-family: 'Work Sans', sans-serif;
          font-weight: 500;
          color: $cl-black;

          &__playlist {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
      }
    }
  }
}




html {
  body {
    #root {
      @media only screen and (max-width: 1020px) {
        .App {
          padding: 0 13% 8% 13%;

          &__playlist {
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
          }
        }

      }

      ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    }
  }
}
