html {
  font-size: 18px;
  box-sizing: border-box;
  background-color: #FCF9F7; }
  html * {
    box-sizing: border-box; }
  html body #root {
    height: 100%; }
    html body #root .Main {
      display: flex;
      flex-direction: column; }
      html body #root .Main h1 {
        background-color: transparent;
        color: #A22C29;
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 1.88rem;
        margin: 0;
        justify-content: center; }
        html body #root .Main h1 .highlight {
          color: #902923; }
      html body #root .Main h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.55rem; }
      html body #root .Main .App {
        height: 100%;
        padding: 0 17% 10% 17%;
        background-color: #FCF9F7;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        color: #11151C; }
        html body #root .Main .App__playlist {
          display: flex;
          justify-content: space-between;
          width: 100%; }

@media only screen and (max-width: 1020px) {
  html body #root .App {
    padding: 0 13% 8% 13%; }
    html body #root .App__playlist {
      align-items: center;
      flex-direction: column;
      justify-content: space-between; } }

html body #root ::-webkit-scrollbar {
  width: 0px;
  background: transparent; }
