html body #root .MyPlaylist {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  border-radius: 54px;
  text-align: center;
  border: none; }
  html body #root .MyPlaylist--hidden {
    display: none; }
  html body #root .MyPlaylist h1 {
    border: none; }
