html body #root .MyPlaylist {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  width: 100%; }
  html body #root .MyPlaylist--hidden {
    display: none; }
  html body #root .MyPlaylist h1 {
    border-bottom: 1px solid #D65237;
    display: block;
    font-size: 1.55rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 16px;
    text-align: center;
    color: #11151C; }
  html body #root .MyPlaylist__container {
    overflow-y: scroll; }
