html {
  body {
    #root {
      .MyPlaylist {
        display: flex;
        flex-direction: column;
        width: 100%;

        &--hidden {
          display: none;
        }

        &__container {

        }
      }
    }
  }
}
