$cl-cream: #EDECE3;
$cl-black: #11151C;
$cl-light: #FCF9F7;
$cl-orange: #D65237;

html {
  body {
    #root {
      .MyPlaylist {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        width: 100%;

        &--hidden {
          display: none;
        }

        h1 {
          border-bottom: 1px solid $cl-orange;
          display: block;
          font-size: 1.55rem;
          margin-bottom: 0;
          margin-top: 0;
          padding-bottom: 16px;
          text-align: center;
          color: $cl-black;
        }

        &__container {
          overflow-y: scroll;
        }
      }
    }
  }
}
